
/* NUEVO? */
.container {
    max-width: 1398px;
}
.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    min-height: 100px;
    align-items: center;
    font-size: 1.2em;
}
.navbar a{
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    color: #fdfffc !important;
    margin-right: 5px;
}
.navbar a:hover{
    border-bottom: 3px solid #fdfffc;
    opacity: 60%;
    transition: 400ms;
}
.menuItems a{
    font-weight: bold;
    color: #457b9d !important;
}
.logoBank {
    text-decoration: none;
}
.logoBank h1 {
	line-height: 1;
    color: #fdfffc !important;
}