@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: auto;
	width: auto;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    display: flex;
    justify-content: center;
    /* width: 50%; */
}

/* Colores de fondo*/
.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 1296px;
	width: 520px;
	background: #FFF;
	top: -323px;
	right: 495px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 829px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -64px;
	right: 118px;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 669px;
	width: 200px;
	background: #7E7BB9;
	top: 223px;
	right: -4px;
	border-radius: 60px;
}
/* form register*/
.register {
	width: auto;
	padding: 30px;
	padding-top: 50px;
}
.registerBanner {
    display: flex;
    justify-content: center;
}

.registerBanner img {
    width: 20%;
}

.registerBanner h1 {
    font-size: 3em;
    margin-top: auto; /* Empuja el h2 hacia abajo */
    margin-bottom: 0; /* Elimina cualquier margen inferior */
	line-height: 1.1;
}
.registerBanner h2{
    margin: 0;
	text-align: center;
}

.register__field {
	padding: 20px 10px;
	clear: both
}

.register__field__mid {
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	padding: 20px 10px;
}


.register input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px 0;
    font-family: Raleway, sans-serif;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.register input:active,
.register input:focus,
.register input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.register__btn__submit {
    text-align: center;
}
.register__submit {
	background: #fff;
	font-size: 14px;
	margin: 20px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	width: 30%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
.register__submit:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed; /* desactiva el mouse al pasar x el boton */
}

.register__submit:active,
.register__submit:focus,
.register__submit:hover {
	border-color: #6A679E;
	outline: none;
}